html, body, ul, p, button {
  padding: 0;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 320px;
  padding-top: 30px;
  margin: 0 auto;
}

.speed {
  background-color: orange;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  border: solid 1px orange;
}

#back, #forward {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin: 0 35px;
}

#next {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  margin: 5px 35px;
}

#back img, #forward img, #next img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.time {
  width: 300px;
  margin: 30px auto 0;
}

#time_bar {
  background-color: black;
  height: 3px;
}

#current_time {
  position: relative;
  bottom: 9px;
  background-color: black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

#play_time {
  position: relative;
  top: 30px;
  right: 8px;
  color: black;
  font-size: 12px;
  width: 30px;
  height: 12px;
  text-align: center;
  line-height: 12px;
}

#left_time {
  position: relative;
  top: -2px;
  left: 285px;
  color: black;
  font-size: 12px;
  width: 30px;
  height: 12px;
  text-align: center;
  line-height: 12px;
}

ul {
  width: 280px;
  padding: 20px 0;
  margin: 0 auto;
}

li {
  display: flex;
  width: 100%;
  height: 30px;
  margin: 10px 0;
}

p {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

button {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 30px;
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.sound {
  background-color: greenyellow;
  border-color: greenyellow;
}

.stop {
  background-color: aquamarine;
  border-color: aquamarine;
}

.pause {
  background-color: aqua;
  border-color: aqua;
}

.disabled {
  background-color: lightgray;
  border-color: lightgray;
}

.disabled:hover {
  opacity: 1;
  cursor: not-allowed;
}

img {
  width: 16px;
  height: 16px;
  margin: 6px 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}
