html, body, ul, p, button {
  padding: 0;
  margin: 0;
}

ul {
  width: 280px;
  padding: 20px 0;
  margin: 0 auto;
}

li {
  display: flex;
  width: 100%;
  height: 30px;
  margin: 10px 0;
}

p {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

button {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 30px;
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.sound {
  background-color: greenyellow;
  border-color: greenyellow;
}

.stop {
  background-color: aquamarine;
  border-color: aquamarine;
}

.pause {
  background-color: aqua;
  border-color: aqua;
}

.disabled {
  background-color: lightgray;
  border-color: lightgray;
}

.disabled:hover {
  opacity: 1;
  cursor: not-allowed;
}

img {
  width: 16px;
  height: 16px;
  margin: 6px 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}
